p{
    text-transform:uppercase;
    /* background-color: black; */
    /* color: white; */
    display: inline;
    /* display: none; */
}
p::before
{
    background-color: aqua;
    content: 'fff';
    width: 100px;
    height: 3px;

}
i  {
    color: aqua;
    /* visibility: hidden; */
    font-size: 100px;
    /* background-color: black; */
   
}
.fa-facebook::before
{
    display: none;
}
.div2
{
    width: 200px;
    height: 200px;
    position: relative;
    overflow:  scroll;
    border: 2px solid black;
}
span
{
    position: absolute;

}
.div
{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
}